snippet twr "add Times Of Malta GitHub ToM Web Issue Ref"
refs TimesOfMalta/tomweb#$1
endsnippet

snippet tdr "add Times Of Malta GitHub ToM Deployer Issue Ref"
refs TimesOfMalta/tomdeployer#$1
endsnippet

snippet tur "add Times Of Malta GitHub ToM Update Issue Ref"
refs TimesOfMalta/tomupdate#$1
endsnippet

